= form_tag questions_path, method: :get do
  = text_field_tag :search, params[:search] 
  = submit_tag "Pesquisar"
  
.listas
  %table
    - @questions.each do |question|
      %tr
        %td
          = question.plusminus
          %br
          .descricao
            = "Votos"
        %td
          = question.answers.count
          %br
          .descricao
            = "Respostas"
        %td
          = question.hits
          %br
          .descricao
            = "Visualizações"
        %td
          = link_to question.titulo,question
          %br
          = "Tags: " + question.tags_string