%h1 #{@pergunta.titulo}

= button_to 'Votar +', positivo_question_votes_path(@pergunta) , method: "put"
= button_to 'Votar -', negativo_question_votes_path(@pergunta) , method: "put"

%section.pergunta
  Votos: 
  .pergunta#votos= @pergunta.votos
  Tags:
  .pergunta#tags= @pergunta.tags.join(', ')
  
%section.post_answer
  %h2= label :answer, :conteudo, 'Sua Resposta'
  .post_answer.text_area= text_area :answer, :conteudo, :class => "tinymce"
  = tinymce
  = submit_tag 'Responder'
