
%h1.pergunta#titulo= @pergunta.titulo
%hr
.pergunta
  %table
    %tr
      %td.voto#pergunta_votos
        = link_to image_tag('maisVoto.png'), vote_up_question_path(@pergunta), :method => :post
        %br
        = @pergunta.plusminus
        %br
        = link_to image_tag('menosVoto.png'), vote_down_question_path(@pergunta), :method => :post
        %br
      %td.conteudo#pergunta_conteudo
        != @pergunta.conteudo
      %td{:colspan => 3}
        %h5= "Visualizações: #{@pergunta.hits}"
    %table
      %tr
        %td.criada#pergunta_criada
          Criada em: "#{@pergunta.created_at}"
        %td.editada#pergunta_editada
          = @pergunta.updated_at ? "Editada em: #{@pergunta.updated_at}" : '  '
        %td#pergunta_editar
          = link_to 'Editar', edit_question_path(@pergunta), id: 'editar_pergunta'
      %tr
        %td#pergunta_tags
          = "Tags: #{@pergunta.tags_string}"
      %tr
        %td#pergunta_usuario
          Perguntado por:
          = link_to "#{@pergunta.user.name}", user_path(@pergunta.user)
  %hr
%br
  
.resposta
  %h2#qtde_respostas= @pergunta.answers.count > 0 ? pluralize(@pergunta.answers.count, 'Resposta', 'Respostas') : "Essa mensagem não foi respondida"
  %hr
  - @pergunta.answers.each do |answer|
    .answer[answer]
      %table
        %tr
          %td.voto
            = link_to image_tag('maisVoto.png'), vote_up_answer_path(answer), id: "upvote_answer_#{answer.id}", :method =>:post
            %br
            = answer.plusminus
            %br
            = link_to image_tag('menosVoto.png'), vote_down_answer_path(answer), id: "downvote_answer_#{answer.id}", :method => :post
          %td.resposta#resposta_conteudo{:border => 1}
            != answer.conteudo
        %table
          %tr
            %td#resposta_usuario
              Respondido por:
              = link_to "#{answer.user.name}", user_path(answer.user)
            %td#resposta_aceitar
              - if @pergunta.user.eql?(current_user) && !@pergunta.solved?
                = button_to 'Aceitar', solve_question_path(answer_id: answer), id: "accept_answer_#{answer.id}"
              - if answer.accepted?
                = image_tag 'accept-icon.png' , id: "accepted-icon-answer_#{answer.id}"
            %td{:colspan => 2}
            %td#resposta_editar
              = link_to 'Editar', edit_answer_path(answer), id: "editar_resposta_#{answer.id}"
    %hr
  %h2#sua_resposta_label= 'Sua Resposta'
  - if user_signed_in?
    = form_tag question_answers_path(@pergunta) do
      = text_area :answer, :conteudo, :class => "tinymce"
      = tinymce
      %br
      = submit_tag 'Responder'
  - else
    %strong Você precisa registrar-se ou fazer login para responder uma pergunta.

  
