%h1.pergunta#titulo #{@pergunta.titulo}

#votar_pergunta
  = button_to 'Votar +', positivo_question_votes_path(@pergunta) , method: "put"
  = button_to 'Votar -', negativo_question_votes_path(@pergunta) , method: "put"

%section.pergunta 
  .pergunta#conteudo!= @pergunta.conteudo
  .pergunta#votos= "Votos: #{@pergunta.votos}"
  .pergunta#tags= "Tags: #{@pergunta.tags_string}"
  %br
  = link_to 'editar', edit_question_path(@pergunta)
  
  
%section.respostas
  %h2#qtde_respostas= @pergunta.answers.count > 1 ? "#{@pergunta.answers.count} Respostas" : "Essa mensagem não foi respondida"
  - @pergunta.answers.each do |answer|
    .answer[answer]
      .answer#conteudo!= answer.conteudo
    %hr
  
%section.post_answer
  %h2= label :answer, :conteudo, 'Sua Resposta'
  = form_tag question_answers_path(@pergunta) do
    .post_answer#text_area= text_area :answer, :conteudo, :class => "tinymce"
    = tinymce
    %br
    = submit_tag 'Responder'
