%h1 Fazer uma pergunta

= form_tag perguntas_path do

  = label :pergunta, :titulo, 'Título'
  = text_field :pergunta, :titulo
  %br
  %br
  = label :pergunta, :conteudo, 'Conteúdo'
  = text_area :pergunta, :conteudo, :class => "tinymce"
  = tinymce
  %br
  %br
  = submit_tag 'Criar Pergunta'
