
%h1 Cadastrar
.row
  .span6.offset3
    = form_tag users_path do
      - 'shared/error_messages'
      = label :user, :nome, 'Nome'
      = text_field :user, :nome
      = label :user, :email, 'E-mail'
      = text_field :user, :email
      = label :user, :senha, 'Senha'
      = password_field :user, :password
      = label :user, :password_confirmation, 'Confirmar Senha'
      = password_field :user, :password_confirmation
      = submit_tag 'Cadastrar'
