!!! 5
%html
  %head
    %title Me Ajuda Nisso
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags

  %body		
    - if flash[:notice]
      #info.message= flash[:notice]
    - elsif flash[:warning]
      #warning.message= flash[:warning]
    - elsif flash[:error]
      #error.message = flash[:error]

  = yield
